[Unit]
Description=Start SAP
After=uuidd.socket
Requisite=uuidd.socket

[Service]
Type=forking
ExecStart=/usr/bin/su -c "startsap all" -l npladm

[Install]
WantedBy=multi-user.tar
